<%- include("header") -%>

<div class="box" id="heading">
  <h1>About Us</h1>
</div>
<div class="box item">
  <p style="text-align: center">
    Welcome to our To-Do App! This simple and intuitive application is designed
    to help you stay organized and productive. Easily manage your daily tasks,
    set priorities, and keep track of what needs to be done. Whether you're
    planning your day or managing a project, our app is here to support you
    every step of the way.
  </p>
</div>

<%- include("footer") -%>
